#header {
  background: rgba(255, 0, 0, 0.726); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 15px 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.485);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  color:aliceblue;
}

.head1 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  color: white;
  transition: color 0.3s ease;
  text-align: center;
  margin: 0;
  
}

.head1 h1:hover{
  color:rgb(196, 196, 196);
}
