.about-wrapper {
  display: flex;
  padding: 30px;
  margin-top: 40px;
  color: beige;
  background-color: rgba(205, 42, 45, 0.819);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  transition: background-color 0.3s ease, border 0.3s ease;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.485);
}

.about-wrapper:hover {
  background-color: rgba(253, 242, 241, 0.377);
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: black;
}

.about-left {
  flex-basis: 50%;
}

.about-right {
  flex-basis: 75%;
  padding-left: 20px;
}

.about-right h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.about-right p,
.about-right ul {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.about-left img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.397);
}
