#about {
  padding: 60px 20px;
  text-align: center;
}

.about-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: beige;
  text-shadow: 2px 2px 5px rgb(255, 51, 0);
  /*transition: background-color 0.3s ease, border 0.3s ease;*/
}


.about-content h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
}

.about-content ul {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.about-content li {
  margin-bottom: 12px;
}
