#banner{
 /* background:linear-gradient(rgb(0, 0, 0),rgb(255, 0, 0)) ;*/
  color:aliceblue;
}
.from button {
  background-color: rgb(0, 55, 94);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.from button:hover {
  background-color: rgb(0, 75, 120);
}

.from h2 {
     font-size: 50px;
}
