.glass-form {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  width: 95%;
  max-width: 720px;
  margin: 50px auto;
  color: #fff;
  text-align: center; 
}


.glass-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.form-group {
  margin-bottom: 22px;
}

.glass-form input,
.glass-form select,
.glass-form textarea {
  display: inline-block;        
  width: 80%;                 
  padding: 14px 16px;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  outline: none;
  margin-top: 6px;
}


.glass-form input::placeholder,
.glass-form textarea::placeholder {
  color: #ddd;
}

.glass-form textarea {
  resize: vertical;
  min-height: 100px;
}

.glass-form button {
  display: inline-block;      
  width: 50%;
  padding: 14px;
  background-color: #1a73e8;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}


.glass-form button:hover {
  background-color: #155ab6;
}
