.contactdetails {
  text-align: center;
  font-size: 60px;
  font-family: "Teko", sans-serif;
  color: rgb(201, 161, 0);
  margin-top: 40px;
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.819);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  transition: background-color 0.3s ease, border 0.3s ease;
}

/*.contact-details:hover {
  background-color: rgba(253, 242, 241, 0.377);
  border: 1px solid rgba(0, 0, 0, 0.7);
}*/

.contact-details img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.contact-details img:hover {
  transform: scale(1.1);
}
