/* Title Section */
.service-title {
  text-align: center;
  font-family: "Teko", sans-serif;
  margin-bottom: 40px;
}

.service-title h3 {
  font-size: 60px;
  color: rgb(255, 204, 0);
  margin: 20px 0 0 0;
}

.service-title p {
  color: #ffffff;
  font-size: 26px;
  margin-top: 10px;
  line-height: 1.5;
}

/* Services Container */
.service-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  /*background-color: rgba(205, 42, 45, 0.819);*/
  color: beige;
  font-family: "Montserrat", sans-serif;
  /*border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.397);*/
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.485);
  transition: background-color 0.3s ease, border 0.3s ease;
}


.service-details:hover {
  background-color: rgba(253, 242, 241, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: black;
}

/* Individual Card */
.service-detail {
  flex-basis: 200px;
  text-align: center;
  max-width: 250px;
  
}

.service-detail img {
  width: 70px;
  margin-bottom: 15px;
}

.service-detail p {
  font-size: 20px;
  line-height: 1.6;
}
